.card-body {
  background: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );
  display: block;
  font-family: "Noto Serif", serif;
  padding: 40px auto;
  height: 600px;
  width: 800px;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 15px;
}

h1 {
  font-size: 45px;
  font-weight: 90px;
  margin-top: 0px;
  margin-bottom: 0;
  margin-left: 33px;
  padding-top: 40px;
  color: #0f50a5;
}

h2 {
  font-size: 40px;
  line-height: 35px;
  font-weight: 80px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.button {
  font-size: 20px;
  padding: 10px;
  color: blanchedalmond;
  background-color: #007bff;
  border-radius: 5px;
  margin-left: 15px;
  box-sizing: border-box;
  border-width: 1px;
}
.current_btn {
  font-size: 20px;
  padding: 10px;
  color: blanchedalmond;
  background-color: #6f42c1;
  border-radius: 5px;
  margin-left: 20px;
  box-sizing: border-box;
  border-width: 1px;
}

.type_1 {
  padding: 13px;
  border-radius: 5px;
  width: max-content;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.date {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 45px;
  margin-right: auto;
}

.sub {
  color: rgb(96, 96, 96);
  margin-top: 0;
}
.temp {
  display: block;
  line-height: 30px;
  font-weight: 50px;
  font-size: 80px;
  text-align: right;
  right: 100%;
  margin-right: 20px;
  margin-bottom: 0px;
}

.units {
  position: relative;
  top: -34px;
  font-size: 20px;
}

.deg {
  display: block;
  line-height: 1px;
  font-weight: 50px;
  font-size: 20px;
  text-align: right;
  right: 100px;
  margin-right: 20px;
  margin-top: 10px;
  color: rgb(96, 96, 96);
}

.aliign-items-center {
  width: 50%;
}
.row_1 {
  float: left;
  width: 50%;
}

.row_2 {
  float: right;
  width: 50%;
}

.col {
  display: inline-block;
  line-height: 35px;
  margin: 0px;
  border-radius: 8px;
  text-align: center;
}

.forcast {
  display: inline-block;
  margin: 80px;
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  outline-width: 5px;
  padding: 5px;
}
